[core]
#Made by 埃奇奇鸽咕
@global maxConnect=3
@global connectRange=100
@global colorBase=#b25050
@global colorUpper=#ffffff
@global connectRequireTag=ele_node
@global autoConnectOnCreated=true
@global connectCondtional:bool=true == true
#允许表达式
@global wirePrice:str=0
tags:${connectRequireTag}

@memory passiveConnection:unit[]
@memory connection:unit[]
@memory queueConnection:unit[]
@memory root:unit
@memory nil:unit
@memory last:number
@memory process:bool
@memory init:bool
@memory idx:number
autoTriggerCheckRate:every8Frames
maxTransportingUnits:1

[attachment_eport]
x:0
y:4
isUnselectable:true
canBeAttackedAndDamaged:false
addTransportedUnits:false
setDrawLayerOnBottom:false
canAttack:false
lockRotation:true
idleDir:0
onCreateSpawnUnitOf:ePort
[attack]
canAttack:false
maxAttackRange:${connectRange}
[turret_select]
x:0
y:0
canShoot:false
projectile:probe
turnSpeed:64
[projectile_probe]
life:60
explodeEffect:NONE
drawSize:0
directDamage:0
speed:25
targetGround:true
unloadUpToXUnitsFromSource:1
instant:true
[graphics]
showTransportBar:false
[resource_state]
displayName:状态
[hiddenAction_initEnable]
autoTriggerOnEvent:created
setUnitMemory:init=true
[hiddenAction_init]
	setUnitMemory:init=select(memory.idx>=${maxConnect},false,true),idx=memory.idx+1
debugMessage:Node%{self.id} init
autoTrigger:if memory.init ==true and self.resource.state==0
takeResources:0
takeResources_maxUnits:1
#${maxConnect}
takeResources_excludeUnitsWithTheseResources:state=1
takeResources_excludeUnitsWithoutTags:${connectRequireTag}
takeResources_searchOnly:true
#takeResources_triggerActionIfNoneCollected:createRoot
takeResources_triggerActionForEach:connectInit
takeResources_includeUnitsWithinRange:${connectRange}
[hiddenAction_creator]
autoTriggerOnEvent:created
takeResources:0
takeResources_maxUnits:16
takeResources_excludeUnitsWithTheseResources:state=1
takeResources_excludeUnitsWithoutTags:${connectRequireTag}
takeResources_searchOnly:true
takeResources_triggerActionIfNoneCollected:createRoot
takeResources_includeUnitsWithinRange:${connectRange}
[hiddenAction_connectInit]
setUnitMemory:queueConnection[memory.queueConnection.size]=thisActionTarget
[hiddenAction_connectRequest]
buildSpeed:0
debugMessage:%{self.id}sendReqTo%{thisActionTarget.id}
#连接先发请求 确保条件均满足
shrinkArrays:queueConnection
requireConditional:if not (memory.connection.contains(thisActionTarget) and thisActionTarget.readUnitMemory('root',type='unit')!=memory.root)
sendMessageTo:select(thisActionTarget==null,customTarget2,thisActionTarget)
setUnitMemory:process=true,queueConnection[memory.queueConnection.size]=select(memory.process,select(thisActionTarget==null,customTarget2,thisActionTarget),null)
sendMessageWithTags:connectRequest
[hiddenAction_connectRequestQueue]
autoTrigger:if memory.queueConnection.size>0 and memory.process==false
#requireConditional:if not (memory.connection.contains(memory.queueConnection[memory.queueConnection.size]) and memory.queueConnection[memory.queueConnection.size].readUnitMemory('root',type='unit')!=memory.root)
buildSpeed:0
debugMessage:%{self.id}po%{memory.queueConnection[memory.queueConnection.size]}
#连接先发请求 确保条件均满足
shrinkArrays:queueConnection
#requireConditional:self.
sendMessageTo:select(self.resource.state==0 and (memory.connection.contains(memory.queueConnection[memory.queueConnection.size]) and memory.queueConnection[memory.queueConnection.size].readUnitMemory('root',type='unit')!=memory.root),null,memory.queueConnection[memory.queueConnection.size])
setUnitMemory:process=select(not (memory.connection.contains(memory.queueConnection[memory.queueConnection.size]) and memory.queueConnection[memory.queueConnection.size].readUnitMemory('root',type='unit')!=memory.root),true,false),queueConnection[memory.queueConnection.size]=null
sendMessageWithTags:connectRequest
[hiddenAction_connectRequestAccess]
buildSpeed:0.1s
#我是不是记错词了
autoTriggerOnEvent:newMessage(withTag='connectRequest')
requireConditional:if not memory.connection.contains(eventSource) and not memory.passiveConnection.contains(eventSource)
#${connectCondtional} and
debugMessage:%{self.id}Allowed%{eventSource.id}
#多此亿举
alsoQueueAction: update
setUnitMemory=passiveConnection[memory.passiveConnection.size]=eventSource
sendMessageTo:self
sendMessageWithTags:reg0
#requestAccept
sendMessageWithData:target=eventSource,alt=true
[hiddenAction_reg]
buildSpeed:0
autoTriggerOnEvent:newMessage(withTag='reg0')
sendMessageTo:eventData('target',type='unit')
sendMessageWithTags:requestAccept
[hiddenAction_update]
buildSpeed:0
# highProp
shrinkArrays:passiveConnection
setResourcesWithLogic:state=select(memory.connection.size+memory.passiveConnection.size>=${maxConnect},1,0)
[hiddenAction_lastProc]
buildSpeed:0
autoTriggerOnEvent:newMessage(withTag='requestAccept')
requireConditional:if eventSource != self
setUnitMemory=connection[memory.connection.size]=eventSource,root=eventSource.readUnitMemory('root',type='unit'),process=false
alsoQueueAction: update,registerToRoot
sendMessageTo:self
#sendMessageWithTags:reg0
#sendMessageWithData:target=eventSource

[hiddenAction_createRoot]
buildSpeed:0
addUnitsIntoTransport:ewebRoot*1
fireTurretXAtGround: select
fireTurretXAtGround_withOffset:0,0
setUnitMemory:root=transporting(slot=0)
alsoQueueAction:registerToRoot
[hiddenAction_registerToRoot]
buildSpeed:0
sendMessageTo:memory.root
sendMessageWithTags:reg
[hiddenAction_disconnectListener]
buildSpeed:0
autoTrigger:true
setUnitMemory:last=memory.connection.size
alsoTriggerAction:listenerComparer
shrinkArrays:connection
[hiddenAction_listenerComparer]
buildSpeed:0s
requireConditional:if memory.connection.size<memory.last
debugMessage:%{self.id} listened



[decal_l0]
@define idx=0
layer: BEFOREUI
lineWidth:2
#yOffsetRelative:
#alpha:
color: ${colorBase}
drawLineTo:memory.connection[(${idx})].attachment
#@copyFromSection:decal_l0
#drawLineTo:memory.source.attachment
[decal_l1]
@copyFromSection:decal_l0
@define idx = 1
[decal_l2]
@copyFromSection:decal_l0
@define idx = 2
[decal_l3]
@copyFromSection:decal_l0
@define idx = 3
[decal_l4]
@copyFromSection:decal_l0
@define idx = 4
[decal_l5]
@copyFromSection:decal_l0
@define idx = 5
[decal_l6]
@copyFromSection:decal_l0
@define idx = 6
[decal_l7]
@copyFromSection:decal_l0
@define idx = 7
[decal_l8]
@copyFromSection:decal_l0
@define idx = 8
[decal_l9]
@copyFromSection:decal_l0
@define idx = 9
[decal_l10]
@copyFromSection:decal_l0
@define idx = 10
[decal_l11]
@copyFromSection:decal_l0
@define idx = 11
[decal_l12]
@copyFromSection:decal_l0
@define idx = 12