@memory  inventory:number[]
@global capacity = 10
@
[action_slot0]
@define idx = 0
isVisible:memory.inventory[${idx}] != 0
displayType:infoOnly
text:0
textPostFix:memory.inventory[${idx}]
iconImage:ROOT:texture/other/none.png
[action_slot1]
@copyFromSection:action_slot0
@define idx = 1
text:铜锭
iconImage:ROOT:texture/other/none.png